In [2]:
import statistics as stats
import pandas as pd
import numpy as np

# Read file

In [3]:
df1= pd.read_csv("file1.csv")
df2= pd.read_csv("file2.csv")
df3= pd.read_csv("file3.csv")

# Rename columns

In [4]:
# 1. rename
def rename_columns(x):
    x.rename(columns={'Customer':'customer',\
                        'ST':'state',
                          'State':'state',
                          'GENDER':'gender',
                      'Gender':'gender',
                        "Education":"education", 
                          "Customer Lifetime Value":"clv",
                        "Income": "income",
                          "Monthly Premium Auto":"monthly_premium",
                        'Number of Open Complaints':'complaints',
                          'Policy Type':'policy_type',
                        "Vehicle Class":"vehicle_class", 
                          "Total Claim Amount":"total_claim"}, inplace=True )
    return x

In [5]:
df1 = rename_columns(df1)
df2 = rename_columns(df2)
df3 = rename_columns(df3)

# Sort columns

In [6]:
# sort
def sort_columns(x):
    x = x.reindex(columns=['customer', 'state', 'gender', 'education', 'income', 'vehicle_class', 'monthly_premium', 'policy_type', 'complaints', 'total_claim', 'clv'])
    return x

In [7]:
df1 = sort_columns(df1)
df2 = sort_columns(df2)
df3 = sort_columns(df3)

In [8]:
# concatinating
df = pd.concat([df1, df2, df3])

# Drop customers

In [10]:
# drop customers
df = df.drop(['customer'], axis=1)

# Drop Duplicates

In [11]:
# duplicates
df = df.drop_duplicates()

# 9135 rows

In [12]:
df.dtypes
# gender should be only two possible strings
# complaints should be integer
# clv should be float and without percentage

state               object
gender              object
education           object
income             float64
vehicle_class       object
monthly_premium    float64
policy_type         object
complaints          object
total_claim        float64
clv                 object
dtype: object

## Gender

In [13]:
# as example
# hk_df['median_home_val'] =  pd.to_numeric(hk_df['median_home_val'], errors='coerce')

In [14]:
# are there null values?
df['gender'].isnull().values.any()
# yes

True

In [15]:
# how many null values are there?
df['gender'].isnull().sum()

123

In [16]:
# how many are females and males are?
df['gender'].value_counts()

F         4435
M         4237
Male        40
female      30
Femal       17
Name: gender, dtype: int64

In [17]:
df['gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [18]:
def clean_gender(x):
    if x in ['M', 'Male']:
        return 0
    elif x in ['F', 'female',"Femal"]:
        return 1
    else:
        return x

In [19]:
df['gender'] = list(map(clean_gender, df['gender']))

In [20]:
df.gender.isnull().sum()

123

In [21]:
df = df.dropna(subset=['gender'])

In [22]:
df.gender.isnull().sum()

0

In [23]:
df['gender'] = df['gender'].astype(int)

In [25]:
f = 4435 + 30 + 17
m = 4237 + 40
t = f + m
print(round(f/t * 100, 1))
print(round(m/t * 100, 1))

# 51.2% female
# 48.2% male

51.2
48.8

In [26]:
# meaning that 123 should be divided accordingly
f1 = (120 * 0.512)
m1 = (120 * 0.488)

In [27]:
f1 = round(f1)
f1

61

In [28]:
m1 = round(m1)
m1

59

## Fix CLV

In [30]:
# remove the percentage
df.loc[:, 'clv'] = df['clv'].apply(lambda x: str(x).replace('%', ''))

In [31]:
df['clv'] = df.clv.astype(float).round()

In [32]:
df['clv'].isnull().sum()

5

In [33]:
df = df.dropna(subset=['clv'])

In [34]:
df['clv'].isnull().sum()

0

In [35]:
df['clv'] = df['clv'].astype(int)

/var/folders/wq/2vxkh_6d4g7dpxkr5q82nxzh0000gn/T/ipykernel_44949/3924484575.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clv'] = df['clv'].astype(int)

In [36]:
df = df.reset_index()

In [38]:
# df['clv'] = df['clv'].apply(np.int64)

## Fix Complaints

In [39]:
df['complaints'].isnull().sum()

0

In [40]:
df['complaints'].value_counts()

0         5421
1/0/00    1528
1          749
2          279
1/1/00     225
3          221
4          114
1/2/00      84
1/3/00      51
5           43
1/4/00      28
1/5/00      11
Name: complaints, dtype: int64

In [41]:
df.dtypes

index                int64
state               object
gender               int64
education           object
income             float64
vehicle_class       object
monthly_premium    float64
policy_type         object
complaints          object
total_claim        float64
clv                  int64
dtype: object

In [42]:
df.complaints.info()

<class 'pandas.core.series.Series'>
RangeIndex: 8754 entries, 0 to 8753
Series name: complaints
Non-Null Count  Dtype
--------------  -----
8754 non-null   object
dtypes: object(1)
memory usage: 68.5+ KB

In [45]:
# nice little thing to know
df.select_dtypes('object')

,state,education,vehicle_class,policy_type,complaints
0,Arizona,Bachelor,Four-Door Car,Personal Auto,1/0/00
1,Nevada,Bachelor,Two-Door Car,Personal Auto,1/0/00
2,California,Bachelor,SUV,Corporate Auto,1/0/00
3,Washington,High School or Below,Four-Door Car,Personal Auto,1/0/00
4,Oregon,Bachelor,Two-Door Car,Personal Auto,1/0/00
...,...,...,...,...,...
8749,California,Bachelor,Four-Door Car,Personal Auto,0
8750,California,College,Four-Door Car,Corporate Auto,0
8751,California,Bachelor,Four-Door Car,Corporate Auto,3
8752,California,College,Four-Door Car,Personal Auto,0
8753,California,College,Two-Door Car,Corporate Auto,0

In [46]:
df['complaints'] = df['complaints'].apply(lambda x: str(x.split('/')[1]) if '/' in str(x) else x)

# Replace null values

In [52]:
df.columns

Index(['index', 'state', 'gender', 'education', 'income', 'vehicle_class',
       'monthly_premium', 'policy_type', 'complaints', 'total_claim', 'clv'],
      dtype='object')

In [54]:
df = df.reset_index()

In [57]:
df = df.drop(columns=['level_0', 'index'])

#### CORRECT BACHELOR!

In [60]:
df.education.value_counts()

Bachelor                2612
College                 2559
High School or Below    2516
Master                   715
Doctor                   329
Bachelors                 23
Name: education, dtype: int64

# Replace zero values with mean in column INCOME

df.income.value_counts()

In [61]:
df.income.isnull().sum()

0

In [ ]:
df.income.value_counts()

In [65]:
# replace zeros with nan
df.income.replace(0, np.nan, inplace = True)

In [67]:
mean = np.mean(df.income)

In [68]:
mean

50775.22217111316

In [69]:
df.income = df.income.fillna(mean)

# Change state

In [71]:
df.state.value_counts()

California    2888
Oregon        2468
Arizona       1579
Nevada         858
Washington     750
Cali           119
AZ              63
WA              29
Name: state, dtype: int64

In [72]:
def clean_states(x):
    if x in ['Cali', 'California']:
        return 'West Region'
    elif x in ['AZ', 'Arizona','Nevada']:
        return 'Central'
    elif x in ['WA', 'Washington']:
        return 'East'
    elif x in ['Oregon']:
        return 'North West'
    else:
        return x

In [73]:
df['state']= df['state'].apply(clean_states)