In [1]:
import statistics as stats
import pandas as pd
import numpy as np

# Read file

In [2]:
df1= pd.read_csv("file1.csv")
df2= pd.read_csv("file2.csv")
df3= pd.read_csv("file3.csv")

In [3]:
# 1. rename
def rename_columns(x):
    x.rename(columns={'Customer':'customer',\
                        'ST':'state',
                          'State':'state',
                          'GENDER':'gender',
                      'Gender':'gender',
                        "Education":"education", 
                          "Customer Lifetime Value":"clv",
                        "Income": "income",
                          "Monthly Premium Auto":"monthly_premium",
                        'Number of Open Complaints':'complaints',
                          'Policy Type':'policy_type',
                        "Vehicle Class":"vehicle_class", 
                          "Total Claim Amount":"total_claim"}, inplace=True )
    return x

In [4]:
df1 = rename_columns(df1)
df2 = rename_columns(df2)
df3 = rename_columns(df3)

In [5]:
# sort
def sort_columns(x):
    x = x.reindex(columns=['customer', 'state', 'gender', 'education', 'income', 'vehicle_class', 'monthly_premium', 'policy_type', 'complaints', 'total_claim', 'clv'])
    return x

In [6]:
df1 = sort_columns(df1)
df2 = sort_columns(df2)
df3 = sort_columns(df3)

In [7]:
# concatinating
df = pd.concat([df1, df2, df3])

In [8]:
df

,customer,state,gender,education,income,vehicle_class,monthly_premium,policy_type,complaints,total_claim,clv
0,RB50392,Washington,NaN,Master,0.0,Four-Door Car,1000.0,Personal Auto,1/0/00,2.704934,NaN
1,QZ44356,Arizona,F,Bachelor,0.0,Four-Door Car,94.0,Personal Auto,1/0/00,1131.464935,697953.59%
2,AI49188,Nevada,F,Bachelor,48767.0,Two-Door Car,108.0,Personal Auto,1/0/00,566.472247,1288743.17%
3,WW63253,California,M,Bachelor,0.0,SUV,106.0,Corporate Auto,1/0/00,529.881344,764586.18%
4,GA49547,Washington,M,High School or Below,36357.0,Four-Door Car,68.0,Personal Auto,1/0/00,17.269323,536307.65%
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,71941.0,Four-Door Car,73.0,Personal Auto,0,198.234764,23405.98798
7066,PK87824,California,F,College,21604.0,Four-Door Car,79.0,Corporate Auto,0,379.200000,3096.511217
7067,TD14365,California,M,Bachelor,0.0,Four-Door Car,85.0,Corporate Auto,3,790.784983,8163.890428
7068,UP19263,California,M,College,21941.0,Four-Door Car,96.0,Personal Auto,0,691.200000,7524.442436
7069,Y167826,California,M,College,0.0,Two-Door Car,77.0,Corporate Auto,0,369.600000,2611.836866

# Drop customers

In [9]:
# drop customers
df = df.drop(['customer'], axis=1)

# Drop Duplicates

In [10]:
# duplicates
df = df.drop_duplicates()

# 9135 rows

In [11]:
df.dtypes
# gender should be only two possible strings
# complaints should be integer
# clv should be float and without percentage

state               object
gender              object
education           object
income             float64
vehicle_class       object
monthly_premium    float64
policy_type         object
complaints          object
total_claim        float64
clv                 object
dtype: object

## Gender

In [12]:
# as example
# hk_df['median_home_val'] =  pd.to_numeric(hk_df['median_home_val'], errors='coerce')

In [68]:
# are there null values?
df['gender'].isnull().values.any()
# yes

True

In [69]:
# how many null values are there?
df['gender'].isnull().sum()

120

In [72]:
# how many are females and males are?
df['gender'].value_counts()

F         4433
M         4234
Male        40
female      30
Femal       17
Name: gender, dtype: int64

In [71]:
df['gender'].unique()

array(['F', 'M', nan, 'Femal', 'Male', 'female'], dtype=object)

In [77]:
def clean_gender(x):
    if x in ['M', 'Male']:
        return 0
    elif x in ['F', 'female',"Femal"]:
        return 1
    else:
        return x

In [78]:
df['gender'] = list(map(clean_gender, df['gender']))

In [80]:
df.gender.isnull().sum()

120

In [81]:
df = df.dropna(subset=['gender'])

In [82]:
df.gender.isnull().sum()

0

In [85]:
df['gender'] = df['gender'].astype(int)

/var/folders/wq/2vxkh_6d4g7dpxkr5q82nxzh0000gn/T/ipykernel_31119/628451891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender'] = df['gender'].astype(int)

In [86]:
df

,index,state,gender,education,income,vehicle_class,monthly_premium,policy_type,complaints,total_claim,clv
0,1,Arizona,1,Bachelor,0.0,Four-Door Car,94.0,Personal Auto,0,1131.464935,697954
1,2,Nevada,1,Bachelor,48767.0,Two-Door Car,108.0,Personal Auto,0,566.472247,1288743
2,3,California,0,Bachelor,0.0,SUV,106.0,Corporate Auto,0,529.881344,764586
3,4,Washington,0,High School or Below,36357.0,Four-Door Car,68.0,Personal Auto,0,17.269323,536308
4,5,Oregon,1,Bachelor,62902.0,Two-Door Car,69.0,Personal Auto,0,159.383042,825630
...,...,...,...,...,...,...,...,...,...,...,...
8869,7065,California,0,Bachelor,71941.0,Four-Door Car,73.0,Personal Auto,0,198.234764,23406
8870,7066,California,1,College,21604.0,Four-Door Car,79.0,Corporate Auto,0,379.200000,3097
8871,7067,California,0,Bachelor,0.0,Four-Door Car,85.0,Corporate Auto,3,790.784983,8164
8872,7068,California,0,College,21941.0,Four-Door Car,96.0,Personal Auto,0,691.200000,7524
8873,7069,California,0,College,0.0,Two-Door Car,77.0,Corporate Auto,0,369.600000,2612

In [17]:
f = 4435 + 30 + 17
m = 4237 + 40
t = f + m
print(round(f/t * 100, 1))
print(round(m/t * 100, 1))

# 51.2% female
# 48.2% male

51.2
48.8

In [73]:
# meaning that 123 should be divided accordingly
f1 = (120 * 0.512)
m1 = (120 * 0.488)

In [74]:
f1 = round(f1)
f1

61

In [75]:
m1 = round(m1)
m1

59

In [21]:
# df['gender'] = 
# how to make an if statement here to make a boolean

# lambda would be great here with an if 

# lambda x : 0 if type(x) == str elif

# x



# if NaN: 63 should be female, 60 should be male

## Fix CLV

In [22]:
# remove the percentage
df.loc[:, 'clv'] = df['clv'].apply(lambda x: str(x).replace('%', ''))

In [23]:
df['clv'] = df.clv.astype(float).round()

In [24]:
df['clv'].isnull().sum()

8

In [25]:
df = df.dropna(subset=['clv'])

In [26]:
df['clv'].isnull().sum()

0

In [29]:
df['clv'] = df['clv'].astype(int)

In [52]:
df = df.reset_index()

In [53]:
df

,index,state,gender,education,income,vehicle_class,monthly_premium,policy_type,complaints,total_claim,clv
0,1,Arizona,F,Bachelor,0.0,Four-Door Car,94.0,Personal Auto,1/0/00,1131.464935,697954
1,2,Nevada,F,Bachelor,48767.0,Two-Door Car,108.0,Personal Auto,1/0/00,566.472247,1288743
2,3,California,M,Bachelor,0.0,SUV,106.0,Corporate Auto,1/0/00,529.881344,764586
3,4,Washington,M,High School or Below,36357.0,Four-Door Car,68.0,Personal Auto,1/0/00,17.269323,536308
4,5,Oregon,F,Bachelor,62902.0,Two-Door Car,69.0,Personal Auto,1/0/00,159.383042,825630
...,...,...,...,...,...,...,...,...,...,...,...
8869,7065,California,M,Bachelor,71941.0,Four-Door Car,73.0,Personal Auto,0,198.234764,23406
8870,7066,California,F,College,21604.0,Four-Door Car,79.0,Corporate Auto,0,379.200000,3097
8871,7067,California,M,Bachelor,0.0,Four-Door Car,85.0,Corporate Auto,3,790.784983,8164
8872,7068,California,M,College,21941.0,Four-Door Car,96.0,Personal Auto,0,691.200000,7524
8873,7069,California,M,College,0.0,Two-Door Car,77.0,Corporate Auto,0,369.600000,2612

In [ ]:
# df['clv'] = df['clv'].apply(np.int64)

## Fix Complaints

In [31]:
df['complaints'].isnull().sum()

0

In [34]:
df['complaints'].value_counts()

0         5421
1/0/00    1613
1          749
2          279
1/1/00     243
3          221
4          114
1/2/00      93
1/3/00      58
5           43
1/4/00      28
1/5/00      12
Name: complaints, dtype: int64

In [36]:
df.dtypes

state               object
gender              object
education           object
income             float64
vehicle_class       object
monthly_premium    float64
policy_type         object
complaints          object
total_claim        float64
clv                  int64
dtype: object

In [39]:
df.complaints.info()

<class 'pandas.core.series.Series'>
Int64Index: 8874 entries, 1 to 7069
Series name: complaints
Non-Null Count  Dtype
--------------  -----
8874 non-null   object
dtypes: object(1)
memory usage: 138.7+ KB

In [ ]:
# we want to find strings and store the middle value as int
#for i in len(df):
    # if i is a string, take the 2nd character of this string and assign this character as integer to the element
    # how to store such a thing
    # 
    #df

In [50]:
# df['complaints'][10]

10    1/0/00
10    1/1/00
10         0
Name: complaints, dtype: object

In [62]:
# nice little thing to know
df.select_dtypes('object')

,state,gender,education,vehicle_class,policy_type,complaints
0,Arizona,F,Bachelor,Four-Door Car,Personal Auto,0
1,Nevada,F,Bachelor,Two-Door Car,Personal Auto,0
2,California,M,Bachelor,SUV,Corporate Auto,0
3,Washington,M,High School or Below,Four-Door Car,Personal Auto,0
4,Oregon,F,Bachelor,Two-Door Car,Personal Auto,0
...,...,...,...,...,...,...
8869,California,M,Bachelor,Four-Door Car,Personal Auto,0
8870,California,F,College,Four-Door Car,Corporate Auto,0
8871,California,M,Bachelor,Four-Door Car,Corporate Auto,3
8872,California,M,College,Four-Door Car,Personal Auto,0
8873,California,M,College,Two-Door Car,Corporate Auto,0

In [66]:
df['complaints'] = df['complaints'].apply(lambda x: str(x.split('/')[1]) if '/' in str(x) else x)

In [67]:
df

,index,state,gender,education,income,vehicle_class,monthly_premium,policy_type,complaints,total_claim,clv
0,1,Arizona,F,Bachelor,0.0,Four-Door Car,94.0,Personal Auto,0,1131.464935,697954
1,2,Nevada,F,Bachelor,48767.0,Two-Door Car,108.0,Personal Auto,0,566.472247,1288743
2,3,California,M,Bachelor,0.0,SUV,106.0,Corporate Auto,0,529.881344,764586
3,4,Washington,M,High School or Below,36357.0,Four-Door Car,68.0,Personal Auto,0,17.269323,536308
4,5,Oregon,F,Bachelor,62902.0,Two-Door Car,69.0,Personal Auto,0,159.383042,825630
...,...,...,...,...,...,...,...,...,...,...,...
8869,7065,California,M,Bachelor,71941.0,Four-Door Car,73.0,Personal Auto,0,198.234764,23406
8870,7066,California,F,College,21604.0,Four-Door Car,79.0,Corporate Auto,0,379.200000,3097
8871,7067,California,M,Bachelor,0.0,Four-Door Car,85.0,Corporate Auto,3,790.784983,8164
8872,7068,California,M,College,21941.0,Four-Door Car,96.0,Personal Auto,0,691.200000,7524
8873,7069,California,M,College,0.0,Two-Door Car,77.0,Corporate Auto,0,369.600000,2612

In [54]:
# df.loc[:, 'complaints'] = df['complaints'].apply(lambda x : str(x).replace('1/', ''))

In [55]:
# df.loc[:, 'complaints'] = df['complaints'].apply(lambda x : str(x).replace('/00', ''))

In [65]:
df.complaints.value_counts()

0     7034
1      749
2      372
3      279
00     243
4      142
5       55
Name: complaints, dtype: int64