In [1]:
import statistics as stats
import pandas as pd
import numpy as np

In [2]:
df1= pd.read_csv("file1.csv")
df2= pd.read_csv("file2.csv")
df3= pd.read_csv("file3.csv")

In [3]:
# 1. rename
def rename_columns(x):
    x.rename(columns={'Customer':'customer',\
                        'ST':'state',
                          'State':'state',
                          'GENDER':'gender',
                      'Gender':'gender',
                        "Education":"education", 
                          "Customer Lifetime Value":"clv",
                        "Income": "income",
                          "Monthly Premium Auto":"monthly_premium",
                        'Number of Open Complaints':'complaints',
                          'Policy Type':'policy_type',
                        "Vehicle Class":"vehicle_class", 
                          "Total Claim Amount":"total_claim"}, inplace=True )
    return x

In [4]:
df1 = rename_columns(df1)
df2 = rename_columns(df2)
df3 = rename_columns(df3)

In [5]:
# sort
def sort_columns(x):
    x = x.reindex(columns=['customer', 'state', 'gender', 'education', 'income', 'vehicle_class', 'monthly_premium', 'policy_type', 'complaints', 'total_claim', 'clv'])
    return x

In [6]:
df1 = sort_columns(df1)
df2 = sort_columns(df2)
df3 = sort_columns(df3)

In [7]:
# concatinating
df = pd.concat([df1, df2, df3])

In [8]:
df

,customer,state,gender,education,income,vehicle_class,monthly_premium,policy_type,complaints,total_claim,clv
0,RB50392,Washington,NaN,Master,0.0,Four-Door Car,1000.0,Personal Auto,1/0/00,2.704934,NaN
1,QZ44356,Arizona,F,Bachelor,0.0,Four-Door Car,94.0,Personal Auto,1/0/00,1131.464935,697953.59%
2,AI49188,Nevada,F,Bachelor,48767.0,Two-Door Car,108.0,Personal Auto,1/0/00,566.472247,1288743.17%
3,WW63253,California,M,Bachelor,0.0,SUV,106.0,Corporate Auto,1/0/00,529.881344,764586.18%
4,GA49547,Washington,M,High School or Below,36357.0,Four-Door Car,68.0,Personal Auto,1/0/00,17.269323,536307.65%
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,71941.0,Four-Door Car,73.0,Personal Auto,0,198.234764,23405.98798
7066,PK87824,California,F,College,21604.0,Four-Door Car,79.0,Corporate Auto,0,379.200000,3096.511217
7067,TD14365,California,M,Bachelor,0.0,Four-Door Car,85.0,Corporate Auto,3,790.784983,8163.890428
7068,UP19263,California,M,College,21941.0,Four-Door Car,96.0,Personal Auto,0,691.200000,7524.442436
7069,Y167826,California,M,College,0.0,Two-Door Car,77.0,Corporate Auto,0,369.600000,2611.836866

In [9]:
# duplicates
df = df.drop_duplicates()

In [10]:
df

,customer,state,gender,education,income,vehicle_class,monthly_premium,policy_type,complaints,total_claim,clv
0,RB50392,Washington,NaN,Master,0.0,Four-Door Car,1000.0,Personal Auto,1/0/00,2.704934,NaN
1,QZ44356,Arizona,F,Bachelor,0.0,Four-Door Car,94.0,Personal Auto,1/0/00,1131.464935,697953.59%
2,AI49188,Nevada,F,Bachelor,48767.0,Two-Door Car,108.0,Personal Auto,1/0/00,566.472247,1288743.17%
3,WW63253,California,M,Bachelor,0.0,SUV,106.0,Corporate Auto,1/0/00,529.881344,764586.18%
4,GA49547,Washington,M,High School or Below,36357.0,Four-Door Car,68.0,Personal Auto,1/0/00,17.269323,536307.65%
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,71941.0,Four-Door Car,73.0,Personal Auto,0,198.234764,23405.98798
7066,PK87824,California,F,College,21604.0,Four-Door Car,79.0,Corporate Auto,0,379.200000,3096.511217
7067,TD14365,California,M,Bachelor,0.0,Four-Door Car,85.0,Corporate Auto,3,790.784983,8163.890428
7068,UP19263,California,M,College,21941.0,Four-Door Car,96.0,Personal Auto,0,691.200000,7524.442436
7069,Y167826,California,M,College,0.0,Two-Door Car,77.0,Corporate Auto,0,369.600000,2611.836866

In [11]:
# drop customers
df = df.drop(['customer'], axis=1)

In [12]:
df

,state,gender,education,income,vehicle_class,monthly_premium,policy_type,complaints,total_claim,clv
0,Washington,NaN,Master,0.0,Four-Door Car,1000.0,Personal Auto,1/0/00,2.704934,NaN
1,Arizona,F,Bachelor,0.0,Four-Door Car,94.0,Personal Auto,1/0/00,1131.464935,697953.59%
2,Nevada,F,Bachelor,48767.0,Two-Door Car,108.0,Personal Auto,1/0/00,566.472247,1288743.17%
3,California,M,Bachelor,0.0,SUV,106.0,Corporate Auto,1/0/00,529.881344,764586.18%
4,Washington,M,High School or Below,36357.0,Four-Door Car,68.0,Personal Auto,1/0/00,17.269323,536307.65%
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,71941.0,Four-Door Car,73.0,Personal Auto,0,198.234764,23405.98798
7066,California,F,College,21604.0,Four-Door Car,79.0,Corporate Auto,0,379.200000,3096.511217
7067,California,M,Bachelor,0.0,Four-Door Car,85.0,Corporate Auto,3,790.784983,8163.890428
7068,California,M,College,21941.0,Four-Door Car,96.0,Personal Auto,0,691.200000,7524.442436
7069,California,M,College,0.0,Two-Door Car,77.0,Corporate Auto,0,369.600000,2611.836866