# Dictionaries

In [30]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 
# 1. extract and convert
keys = list(word_freq.keys())

# 2. sort the keys list
keys.sort()

# 3. create empty dictionary
word_freq2 = {}

# 4. Use a FOR loop to iterate each value in keys. For each key iterated, find the corresponding value in word_freq and insert the key-value pair to word_freq2.
for key in keys:
    word_freq2[key] = word_freq[key]

print(word_freq2)

SyntaxError: invalid syntax (3975144725.py, line 3)

# Sets

### Create a list named `sample_list_1` with 80 random values.

In [6]:
import random

sample_list_1 = []

sample_list_1.extend(random.sample(range(100), 80))

print("80 random numbers:", sample_list_1)

80 random numbers: [89, 7, 14, 68, 72, 95, 67, 66, 32, 71, 17, 62, 28, 33, 91, 69, 47, 8, 1, 22, 43, 4, 18, 97, 40, 96, 88, 26, 19, 83, 70, 64, 85, 65, 74, 77, 48, 94, 37, 41, 87, 59, 92, 13, 53, 23, 10, 11, 81, 73, 6, 42, 35, 3, 54, 56, 99, 49, 29, 21, 38, 24, 0, 51, 86, 15, 58, 39, 61, 2, 16, 63, 34, 46, 98, 93, 76, 45, 84, 30]

### Convert sample_list_1 to a set called set1. Print the length of the set. Is its length still 80?

In [7]:
set1 = set(sample_list_1)
print(set1)

{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 51, 53, 54, 56, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 81, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}

### Create another list named sample_list_2 with 80 random values.
Requirements:
- Each value is an integer falling between 0 and 100.
- The values in the list don't have to be unique.
- Hint: Use a FOR loop.

In [14]:
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(1,100))
    
print(sample_list_2)

[82, 87, 75, 84, 84, 72, 90, 30, 51, 9, 5, 30, 85, 84, 24, 72, 15, 25, 3, 38, 85, 53, 3, 85, 41, 12, 21, 16, 71, 79, 21, 54, 70, 92, 19, 76, 77, 36, 88, 22, 83, 61, 100, 10, 99, 91, 57, 77, 50, 65, 25, 25, 65, 37, 60, 55, 45, 4, 54, 4, 60, 91, 6, 62, 80, 24, 89, 41, 86, 49, 97, 1, 2, 44, 36, 88, 97, 53, 98, 99]

### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [15]:
set2 = set(sample_list_2)
len(set2) #nope, not the same as set kicked out the dublicates!

57

### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [16]:
set3 = set1 - set2
print(set3)

{0, 7, 8, 11, 13, 14, 17, 18, 23, 26, 28, 29, 32, 33, 34, 35, 39, 40, 42, 43, 46, 47, 48, 56, 58, 59, 63, 64, 66, 67, 68, 69, 73, 74, 81, 93, 94, 95, 96}

### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [17]:
set4 = set2 - set1
print(set4)

{36, 5, 100, 9, 75, 12, 44, 79, 80, 50, 82, 55, 25, 90, 60, 57}

### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [18]:
# set5 = set1 + set2 - set3 - set4

set5 = set1.intersection(set2)
print(set5)

{1, 2, 3, 4, 6, 10, 15, 16, 19, 21, 22, 24, 30, 37, 38, 41, 45, 49, 51, 53, 54, 61, 62, 65, 70, 71, 72, 76, 77, 83, 84, 85, 86, 87, 88, 89, 91, 92, 97, 98, 99}

### Create an empty set called `set6`.

In [19]:
set6 = set()

### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [20]:
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 51, 53, 54, 56, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 81, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}

### Check if `set1` and `set6` are equal.

In [21]:
if set1 == set6:
    print("yes")
else:
    print("No")

yes

### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [28]:
if set2.issubset(set1):
    print('It is')

It is

In [29]:
if set3.issubset(set1):
    print('It is')

It is

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`.