# Dictionaries

In [7]:
print(keys)

NameError: name 'keys' is not defined

In [8]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 
# 1. extract and convert
keys = list(word_freq.keys())

# 2. sort the keys list
keys.sort()

# 3. create empty dictionary
word_freq2 = {}

# 4. Use a FOR loop to iterate each value in keys. For each key iterated, find the corresponding value in word_freq and insert the key-value pair to word_freq2.
for key in keys:
    word_freq2[key] = word_freq[key]

print(word_freq2)

SyntaxError: invalid syntax (3975144725.py, line 3)

In [9]:
–

SyntaxError: invalid character '–' (U+2013) (3072107962.py, line 1)

# Sets

### Create a list named `sample_list_1` with 80 random values.

In [10]:
import random

sample_list_1 = []

sample_list_1.extend(random.sample(range(100), 80))

print("80 random numbers:", sample_list_1)

80 random numbers: [83, 34, 19, 55, 98, 73, 59, 46, 85, 40, 88, 52, 51, 68, 80, 20, 64, 36, 62, 81, 56, 6, 14, 70, 94, 31, 53, 11, 18, 65, 63, 82, 97, 26, 99, 84, 10, 30, 49, 24, 93, 32, 12, 22, 74, 78, 87, 95, 15, 1, 42, 96, 60, 50, 90, 48, 17, 72, 38, 76, 23, 9, 35, 33, 43, 4, 61, 66, 28, 77, 39, 37, 75, 92, 45, 89, 27, 57, 21, 29]

### Convert sample_list_1 to a set called set1. Print the length of the set. Is its length still 80?

In [11]:
set1 = set(sample_list_1)
print(set1)

{1, 4, 6, 9, 10, 11, 12, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

### Create another list named sample_list_2 with 80 random values.
Requirements:
- Each value is an integer falling between 0 and 100.
- The values in the list don't have to be unique.
- Hint: Use a FOR loop.

In [12]:
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(1,100))
    
print(sample_list_2)

[26, 85, 44, 32, 54, 59, 97, 73, 65, 93, 40, 6, 36, 73, 57, 21, 77, 74, 24, 26, 42, 33, 96, 72, 54, 43, 98, 59, 33, 75, 6, 58, 98, 43, 36, 60, 66, 6, 22, 99, 96, 58, 46, 21, 27, 60, 75, 7, 79, 24, 58, 12, 87, 35, 22, 37, 59, 61, 78, 51, 16, 94, 100, 30, 54, 47, 10, 61, 98, 2, 59, 64, 29, 92, 17, 94, 15, 54, 27, 58]

### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [13]:
set2 = set(sample_list_2)
len(set2) #nope, not the same as set kicked out the dublicates!

53

### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [14]:
set3 = set1 - set2
print(set3)

{1, 4, 9, 11, 14, 18, 19, 20, 23, 28, 31, 34, 38, 39, 45, 48, 49, 50, 52, 53, 55, 56, 62, 63, 68, 70, 76, 80, 81, 82, 83, 84, 88, 89, 90, 95}

### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [15]:
set4 = set2 - set1
print(set4)

{2, 100, 7, 44, 47, 16, 79, 54, 58}

### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [16]:
# set5 = set1 + set2 - set3 - set4

set5 = set1.intersection(set2)
print(set5)

{6, 10, 12, 15, 17, 21, 22, 24, 26, 27, 29, 30, 32, 33, 35, 36, 37, 40, 42, 43, 46, 51, 57, 59, 60, 61, 64, 65, 66, 72, 73, 74, 75, 77, 78, 85, 87, 92, 93, 94, 96, 97, 98, 99}

### Create an empty set called `set6`.

In [17]:
set6 = set()

### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [19]:
set6.update(set3, set5)
print(set6)

{1, 4, 6, 9, 10, 11, 12, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}