In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://www.billboard.com/charts/hot-100/#"

In [3]:
response = requests.get(url)

In [4]:
response.status_code

200

In [5]:
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
containers = soup.find_all('div', class_='o-chart-results-list-row-container')

In [7]:
artists = []
songs = []
for container in containers:
    artists.append(container.find('h3').find_next('span').text.strip())
    songs.append(container.find('h3').text.strip())

In [8]:
df = pd.DataFrame({'artist': artists, 'song': songs})
df

                                              artist               song
0                                      Morgan Wallen         Last Night
1                                              Drake    Search & Rescue
2                                        Miley Cyrus            Flowers
3                                                SZA          Kill Bill
4               Metro Boomin, The Weeknd & 21 Savage           Creepin'
..                                               ...                ...
95                                      Old Dominion        Memory Lane
96                                      Carly Pearce  What He Didn't Do
97                       Carin Leon X Grupo Frontera        Que Vuelvas
98  YoungBoy Never Broke Again Featuring Nicki Minaj                WTF
99                                     Morgan Wallen         '98 Braves

[100 rows x 2 columns]

In [29]:
# Get the number of rows in the DataFrame
num_rows = df.shape[0]
# Generate a random integer between 0 and num_rows-1
random_index = random.randint(0, num_rows-1)
# Get a random row using iloc
random_row = df.iloc[random_index]

In [30]:
print(random_row)

artist    Morgan Wallen
song         '98 Braves
Name: 99, dtype: object